:root {
    --(variable color)
    --(variable color)
}

* {
    box-sizing: border-box;
}

body {
    font-family: ;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: %;
}

nav {
    display: flex;
    background-color: color;
}

.main-header (
    display: flex;
    justify-content: space-between;
    padding: px;
    background: color;
    color: color;
)

.challenge {
    flex; 1 0 px;
    padding: px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    transform: rotate (10deg)
}

.challenge header {
    padding: px;
    background: color;
    color: color;
}

.challenge.one {
    flex: 2 1 px;
}



@media screen and (max-width: 760px) {
    header {
        background: color;
    }
    img {
        background-color: color;
    }
}